:root {
    --bgColor: rgb(207, 224, 231);
    --fgColor: red;
    --shadowColor: rgb(47, 93, 114);
    
}
button{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color:var(--shadowColor)
}

body {
    background-color: var(--bgColor);
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: var(--shadowColor);
    font-weight: 400;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.voteButton {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--shadowColor);
    background-color: white;
    min-width: 10rem;
    margin: 3px;
    flex: 1;
}

.walletButton {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--shadowColor);
    background-color: white;
    margin: 3px;
    flex:1
}

.walletButton:hover {
    box-shadow: none;
    transform: translateY(2px);
}

.adressButton{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--shadowColor);
    background-color: white;
    margin: 3px;
    flex: 1;
}

.btnShadow{
    box-shadow: 5px 5px var(--shadowColor);
}

.voteButton:hover {
    box-shadow: none;
    transform: translateY(2px);
}

.voteBtnGroup {
    min-height: 3.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.votesColumn {
    margin: 10px;
    min-width: 20rem;
    font-size: medium;
    font-family: monospace;
}

.mainPanel {
    border-radius: 1rem;
    padding: 1rem;
    width:85%;
    max-width: 45rem;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.topMargin {
    margin-top: 100px;
}

.verdict {
    margin:1rem;
    text-align: center;
}